  <!-- Hero Section -->
  <header class="hero-header">
    <div class="container">
      <h1>Sign Language Recognition System</h1>
      <p>Convert Text and Speech to Indian Sign Language  in Real-Time</p>
      <p>Convert Indian Sign Language to Text and Speech in Real-Time</p>
      <!-- <a href="#detect" class="btn-start">Start Detecting</a>
        -->
      <form action="/detect" method="post">
            <button class="btn-start" type="submit">Convert Sign Language to Text</button>
        </form>
        <br>
        <form action="/detectgif" method="post">
            <button class="btn-start" type="submit">Convert Speech to Sign Language</button>
        </form>
    </div>
  </header>
